<div class="form-container">
  <h2>Agregar Empresa</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="razonSocial">Razón Social:</label>
    <input type="text" id="razonSocial" name="razonSocial" [(ngModel)]="empresa.razonSocial" required>

    <label for="domicilioSocial">Domicilio Social:</label>
    <input type="text" id="domicilioSocial" name="domicilioSocial" [(ngModel)]="empresa.domicilioSocial">

    <label for="cif">CIF:</label>
    <input type="text" id="cif" name="cif" [(ngModel)]="empresa.cif">

    <label for="fechaFirma">Fecha de Firma:</label>
    <input type="date" id="fechaFirma" name="fechaFirma" [(ngModel)]="empresa.fechaFirma">

    <label for="direccionPracticas">Dirección de Prácticas:</label>
    <input type="text" id="direccionPracticas" name="direccionPracticas" [(ngModel)]="empresa.direccionPracticas">

    <label for="tutorLaboral">Tutor Laboral:</label>
    <input type="text" id="tutorLaboral" name="tutorLaboral" [(ngModel)]="empresa.tutorLaboral">

    <label for="dniTutorLaboral">DNI Tutor Laboral:</label>
    <input type="text" id="dniTutorLaboral" name="dniTutorLaboral" [(ngModel)]="empresa.dniTutorLaboral">

    <label for="representanteLegal">Representante Legal:</label>
    <input type="text" id="representanteLegal" name="representanteLegal" [(ngModel)]="empresa.representanteLegal">

    <label for="dniRepresentante">DNI Representante:</label>
    <input type="text" id="dniRepresentante" name="dniRepresentante" [(ngModel)]="empresa.dniRepresentante">

    <button type="submit">Agregar Empresa</button>
  </form>
</div>
