<div class="table-container">
  <h2>Lista de Empresas</h2>
  <table>
    <thead>
      <tr>
        <th>Razón Social</th>
        <th>Domicilio Social</th>
        <th>CIF</th>
        <th>Fecha de Firma</th>
        <th>Dirección de Prácticas</th>
        <th>Tutor Laboral</th>
        <th>DNI Tutor Laboral</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{empresa.razonSocial}}</td>
        <td>{{empresa.domicilioSocial}}</td>
        <td>{{empresa.cif}}</td>
        <td>{{empresa.fechaFirma | date}}</td>
        <td>{{empresa.direccionPracticas}}</td>
        <td>{{empresa.tutorLaboral}}</td>
        <td>{{empresa.dniTutorLaboral}}</td>
      </tr>
    </tbody>
  </table>
</div>
