<div class="table-container">
  <h2>Lista de Alumnos</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Centro de Prácticas</th>
        <th>Empresa</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido}}</td>
        <td>{{alumno.dni}}</td>
        <td>{{alumno.centroPracticas}}</td>
        <td>{{getEmpresaNombre(alumno)}}</td>
        <td>
          <button (click)="agregarSeguimiento(alumno.id)">Agregar Seguimiento</button>
          <button (click)="verSeguimientos(alumno.id)">Ver Seguimientos</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
