.seguimientos-list {
    padding: 20px;
  }
  
  .seguimientos-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .seguimientos-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .seguimientos-list th, .seguimientos-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .seguimientos-list th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .seguimientos-list td {
    text-align: center;
  }
  
  .seguimientos-list a {
    color: #bd2e2e;
    text-decoration: none;
  }
  
  .seguimientos-list a:hover {
    text-decoration: underline;
  }
  