<div class="form-container">
  <h2>Agregar Tutor</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="tutor.nombre" required>

    <label for="dniResponsable">DNI Responsable:</label>
    <input type="text" id="dniResponsable" name="dniResponsable" [(ngModel)]="tutor.dniResponsable" required>


    <label for="curso">Curso:</label>
    <input type="text" id="curso" name="curso" [(ngModel)]="tutor.curso">

    <button type="submit">Agregar Tutor</button>
  </form>
</div>
